
<!--Header do Boostrap--------->
<header>
    <div class="bg-dark collapse" id="navbarHeader" >
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Funções</h4>
            <p class="text-muted">
Sistema básico de gestão de frota<br>
visualização de notas fiscais, multas, etc..<br>
Demo em Heroku<br>
</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Julian Gamboa</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/julian-gamboa-bahia" class="text-white">Github</a></li>
              <li><a href="https://github.com/julian-gamboa-ensino" class="text-white">Github Eduativo</a></li>
              <li><a href="https://www.linkedin.com/in/julian-gamboa-bahia/" class="text-white">Linkeind</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
<a href="https://docker-2-julian.herokuapp.com" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong> {{etiqueta}} (2022) </strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>
<!--END Header do Boostrap--------->          
<main role="main">
<div class="album py-5 bg-light">
<div class="container">          
<!--ROW. Inicio---------> 
<div class="row">
<!--Elemento da Matriz---------> 
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Image-

           -------->          

           <app-comparador-imagens 
    
           id="imagem-1"
           
           fonte_image_1="{{indice_imagen}}"
           
           fonte_image_2="{{imagem[indice_imagen]}}"
           
           ></app-comparador-imagens>
           <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>

</div>
</div>
<!--COL------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas--------->          
          <app-comparador-imagens     
          id="imagem-2"          
          fonte_image_1="{{indice_imagen+1}}"          
          fonte_image_2="{{imagem[indice_imagen+1]}}"          
          ></app-comparador-imagens>

          <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>
        </div>
</div>
<!--END: COL. ------>      
<!--COL. ------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">

<!--Canvas 3--------->          
<app-comparador-imagens     
id="imagem-3"          
fonte_image_1="{{indice_imagen+2}}"          
fonte_image_2="{{imagem[indice_imagen+2]}}"          
></app-comparador-imagens>

  <app-janela-modal-classificar 
  nome_imagem="{{imagem[indice_imagen+2]}}"
  etiqueta_imagem="{{etiqueta}}" >  
  </app-janela-modal-classificar>
</div>
</div>
<!--END: COL. ------>      
</div>  
<!--END: ROW. ------>


<!--ROW. Inicio---------> 
<div class="row">
<!--Elemento da Matriz---------> 
<div class="col-md-4">
<div class="card mb-4 box-shadow">

<!--Canvas 4--------->          
<app-comparador-imagens     
id="imagem-4"          
fonte_image_1="{{indice_imagen+3}}"          
fonte_image_2="{{imagem[indice_imagen+3]}}"          
></app-comparador-imagens>
          <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>
                </div>
</div>
<!--COL. ------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas 5--------->          
<app-comparador-imagens     
id="imagem-5"          
fonte_image_1="{{indice_imagen+4}}"          
fonte_image_2="{{imagem[indice_imagen+4]}}"          
></app-comparador-imagens>
          <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>
        </div>
</div>
<!--END: COL. ------>      
<!--COL. ------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas 6--------->          
<app-comparador-imagens     
id="imagem-6"          
fonte_image_1="{{indice_imagen+5}}"          
fonte_image_2="{{imagem[indice_imagen+5]}}"          
></app-comparador-imagens>

  <app-janela-modal-classificar 
  nome_imagem="{{imagem[indice_imagen]}}"
  etiqueta_imagem="{{etiqueta}}" >  
  </app-janela-modal-classificar>
</div>
</div>
<!--END: COL. ------>      
</div>  
<!--END: ROW. ------>



<!--ROW. Inicio---------> 
<div class="row">
<!--Elemento da Matriz---------> 
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas 7--------->          
<app-comparador-imagens     
id="imagem-7"          
fonte_image_1="{{indice_imagen+6}}"          
fonte_image_2="{{imagem[indice_imagen+6]}}"          
></app-comparador-imagens>

          <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>
        </div>
</div>
<!--COL. ------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas 8--------->          
<app-comparador-imagens     
id="imagem-8"          
fonte_image_1="{{indice_imagen+7}}"          
fonte_image_2="{{imagem[indice_imagen+7]}}"          
></app-comparador-imagens>

          <app-janela-modal-classificar 
          nome_imagem="{{imagem[indice_imagen]}}"
          etiqueta_imagem="{{etiqueta}}" >  
          </app-janela-modal-classificar>
        </div>
</div>
<!--END: COL. ------>      
<!--COL. ------>           
<div class="col-md-4">
<div class="card mb-4 box-shadow">
<!--Canvas 9--------->          
<app-comparador-imagens     
id="imagem-9"          
fonte_image_1="{{indice_imagen+8}}"          
fonte_image_2="{{imagem[indice_imagen+8]}}"          
></app-comparador-imagens>

<app-janela-modal-classificar 
  nome_imagem="{{imagem[indice_imagen]}}"
  etiqueta_imagem="{{etiqueta}}" >  
  </app-janela-modal-classificar>
</div>
</div>
<!--END: COL. ------>      
</div>  
<!--END: ROW. ------>
</div>
</div>
</main>

  <footer class="text-muted">
    <div class="container">

      <p>Colocado no meu <a href="https://github.com/julian-gamboa-ensino/node-gestor-imagens">Github de ensino</a> </p>                        
    </div>
  </footer>
