

<div class="img-comp-container" class="card-img-top" alt="Image 1" style="height: 225px; width: 100%; display: block;" >
   
    <div class="img-comp-img"  >
      <canvas [id]="id_image_1" class="card-img-top"   style="height: 225px; width: 100%; display: block;">Your browser</canvas>      
    </div>
    <div class="img-comp-img img-comp-overlay" [id]="id_image_2"  >
      <img  [src]="fonte_image_2" class="card-img-top" alt="Image 2" style="height: 225px; width: 100%; display: block;"  >
    </div>
  </div>
  
<!-- 
background-color: blue;

alt="Girl in a jacket"

<ol>
<li>    css </li>
<li>    html </li>
<li>    ts </li>
</ol>
-->
