apagar 

# Images
*.png
*.jpg
*.webp

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
fonte-angular/dist
fonte-angular/docs
fonte-angular/node_modules


# compiled output
fonte-janela-dupla/dist
fonte-janela-dupla/docs
fonte-janela-dupla/node_modules


# compiled output
fonte-numerador-janela-dupla/dist
fonte-numerador-janela-dupla/docs
fonte-numerador-janela-dupla/node_modules



# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db