    .btn-custom {
      background-color: #fff; /* Botão branco */
      color: #000; /* Texto preto */
      border: none;
    }
    .btn-custom:hover {
      background-color: #fff; /* Mantém a cor de fundo no hover */
      color: #000; /* Mantém a cor do texto no hover */
      box-shadow: none; /* Remove sombra adicional no hover */
    }