<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Login</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-3">
      <amplify-authenticator>
        <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
          <div class="welcome-container">
            <h1>Welcome, {{ user.username }}!</h1>
            <button class="sign-out-btn" (click)="updateUser(user); signOut(); logSignOut(); modal.close('Sign out')">Sign Out</button>
          </div>
        </ng-template>
      </amplify-authenticator>
    </div>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="user ? logSignOut() : open(modalContent)">
  @if (user) {
    Sign Out
  } @else {
    Login
  }
</button>